.App {
  text-align: center;
  min-height: 100vh;
}

h1 {
  font-size: 7rem;
  color: #fff;
  margin-top: 0;
  padding-top: 1rem;
}

h3{
  font-size: 3rem;
  color: #fff;
  padding-top: 1rem;
}

.App-logo{
  height: 40vmin;
  pointer-events: none;
  width: 90%;
}

.results{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 20px;
}
